@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600;200;400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

body{
    background: url(https://source.unsplash.com/1600x900/?weather,tree);
    font-family: 'Poppins',sans-serif;
}

